/**

HackUCI environment styles.

When graphics gives us their style guidelines we can look here.

**/

// VH 2023 Font: Nunito Bold (font-weight 700, 400+500 also included)
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

// PX Sizing for Media queries
$break-small: 500px;
$break-medium: 900px;
$break-large: 1250px;

// Temporary Appwide Style Variables
$fontColor: white;
$errorColor: #a31e1e;
$vhFont: Nunito, sans-serif;

// VH 2023 Backgrounds
$gradientBackground: linear-gradient(#322660, #070024);
$darkBlueBackground: #322660;
$darkBlackBackground: #070024;

// VH 2022 Backgrounds
$lightBackground: #fcfcfc;
$coloredLightBackground: #AFE3F9;
$tealBackground: #92dee2;
$purpleBackground: #cba3fe;

// Gradients
$leftGradient: #C6FFDD;
$rightGradient: #FBD786;
$moreRightGradient: #f7797d;
$rightOffGradient: rgb(226, 131, 128);

// Colors 
$lightGray: #e8e8e8;
$pink: #ffc3ff;
$purple: #ccbbff;
$darkBlue: #a8abf2;
$blue: #afd6fa;

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
