/**

HackUCI environment styles.

When graphics gives us their style guidelines we can look here.

**/

// PX Sizing for Media queries
$break-small: 500px;
$break-medium: 900px;
$break-large: 1250px;


// Temporary Appwide Style Variables
$fontColor: #2e2e2e;
$errorColor: #a31e1e;
$hackUCIFont: Rubik;

// Backgrounds
$darkBackground: #2e2e2e;
$lightBackground: #fcfcfc;
$coloredLightBackground: #AFE3F9;
$tealBackground: #92dee2;
$purpleBackground: #cba3fe;

// Gradients
$leftGradient: #C6FFDD;
$rightGradient: #FBD786;
$moreRightGradient: #f7797d;
$rightOffGradient: rgb(226, 131, 128);

// Colors 
$lightGray: #e8e8e8;

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
