/**

HackUCI environment styles.

When graphics gives us their style guidelines we can look here.

**/


// Temporary Appwide Style Variables
$fontColor: #2e2e2e;
$errorColor: #a31e1e;
$hackUCIFont: Rubik;

// Backgrounds
$darkBackground: #2e2e2e;
$lightBackground: #fcfcfc;
$coloredLightBackground: #99d9ff;
$tealBackground: #92dee2;
$purpleBackground: #cba3fe;