@use "../../../globals/vh-styles.scss" as *;

.schedule-card {
	border-radius: 29px;
	z-index: 50;
	width: 75vw;
	background: linear-gradient(#8659a4, #333b6d);
	color: white;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@media screen and (max-width: 800px) {
		width: 85vw;
	}
}

.schedule-time-block {
	background: #b38ad1;
	box-shadow: 0px 3px 4px 0px #0000007c;
	border-radius: 20px;
	padding: 1.5rem;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: flex-start;
}

.time-label {
	font-size: 2.5rem;
	font-weight: 400;
	font-family: "Londrina Solid";
	letter-spacing: 0.2rem;
	white-space: nowrap;
}

.event-info {
	font-family: "Instrument Sans";
}

.event-title {
	font-weight: 600;
	font-size: 1.875rem;
	line-height: 2;
	padding: 0;
	margin: 0;
}

.event-description {
	font-weight: 400;
	font-size: 1rem;
}
