@import "src/globals/vh-styles.scss";

#faq-accordion-wrapper {
	width: 80vw;
	text-align: left;

	#faq-accordion {
		display: grid;
	}
}

// BOOTSTRAP ACCORDION STYLING

.accordion {
	text-align: left;
	--bs-accordion-color: white;
	--bs-accordion-active-color: white;
	--bs-accordion-btn-color: white;
	--bs-accordion-bg: #8659a4;
	--bs-accordion-border-color: none;
	--bs-accordion-border-radius: 29px;
	--bs-accordion-active-bg: none;
	--bs-accordion-btn-focus-box-shadow: none;
}

.accordion-body {
	padding: 25px;
	font-size: 1.5rem;
}

.accordion-item {
	margin-bottom: 30px;
	border-radius: 29px;
	overflow: hidden; // Prevent content from breaking the border radius
	box-shadow: 0 4px 4px #673f82;
}

.accordion-button {
	font-weight: 400;
	font-size: 1.875rem;
}
