@import "src/globals/vh-styles.scss";
$arrow: "assets/images/arrow-point-right.svg";

#faq-accordion-wrapper {
	text-align: left;
	display: grid;
}

// BOOTSTRAP ACCORDION STYLING

.accordion {
	text-align: left;
	--bs-accordion-color: white;
	--bs-accordion-active-color: white;
	--bs-accordion-btn-color: white;
	--bs-accordion-bg: #8659a4;
	--bs-accordion-border-color: none;
	--bs-accordion-border-radius: 29px;
	--bs-accordion-active-bg: none;
	--bs-accordion-btn-focus-box-shadow: none;
}

.accordion-body {
	padding: 25px;
	font-family: Instrument Sans;
	font-size: 1.25rem;
	font-weight: 500;
	background-color: #e0b0d8;
	border: 4px solid #8659A4;
	border-radius: 29px;
}

.accordion-item {
	margin-bottom: 1.5rem;
	border-radius: 29px;
	overflow: hidden; // Prevent content from breaking the border radius
	box-shadow: 0 4px 4px #673f82;
}

.accordion-button {
	font-weight: 400;
	font-size: 1.875rem;
	padding-left: 4rem;

	// Move the arrow to the left
	&::before {
		content: "";
		background-image: url($arrow);
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		left: 1rem;
		width: 35px;
		height: 35px;
		transform-origin: center;
		transition: transform 0.3s ease-in-out;
	}
	// Remove the default right-side arrow
	&::after {
		content: none;
	}
	// When the accordion is not collapsed (i.e., open)
	&:not(.collapsed) {
		&::before {
			margin-top: 1rem;
			transform: rotate(90deg);
		}
	}

	@media screen and (max-width: $break-medium) {
		font-size: 1.5rem;
		padding-left: 3rem;
	}
}
