@use "../../../globals/vh-styles.scss" as *;

.Schedule {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	overflow-x: hidden;

	#schedule-block {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-bottom: 100px;

		.schedule-title {
			font-family: "Londrina Solid", sans-serif;
			font-weight: 400;
			font-size: 6.25rem;
			letter-spacing: 0.5rem;
			text-shadow: 9px 16px 10px #68b3d7;
			margin-top: 170px;
			margin-bottom: 10px;

			@media screen and (max-width: $break-medium) {
				font-size: 4rem;
			}
		}

		.schedule-hacking-ends-in {
			margin-bottom: 30px;
			font-family: "Instrument Sans", sans-serif;
			font-weight: 600;
			font-size: 2.19rem;
			color: white;

			@media screen and (max-width: $break-medium) {
				font-size: 1.2rem;
			}
		}

		.schedule-countdown {
			margin-top: 10px;
			margin-bottom: 30px;
			color: $darkerPurple;

			@media screen and (min-width: $break-medium) {
				section {
					padding-top: -5px;

					span {
						font-size: 40px !important;
						font-weight: 600;
						line-height: 50px !important;
					}
				}
			}

			.container-style {
				border-radius: 20px;
				background-image: url("../../../assets/images/schedule/countdown-bg-blank.png");
				background-size: 100% auto;
				padding: 3vw 4vw;
			}
		}
	}
}
