@use "../../../globals/vh-styles.scss" as *;

$timer-bg: "/assets/images/timer-background.svg";

.Schedule {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	overflow-x: hidden;

	#schedule-block {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding-bottom: 100px;

		.schedule-title {
			font-family: "Londrina Solid", sans-serif;
			font-weight: 400;
			font-size: 6.25rem;
			letter-spacing: 0.5rem;
			text-shadow: 9px 16px 10px #68b3d7;
			margin-top: 170px;
			margin-bottom: 10px;

			@media screen and (max-width: $break-medium) {
				font-size: 4rem;
			}
		}

		.schedule-hacking-ends-in {
			margin-bottom: 30px;
			font-family: "Instrument Sans", sans-serif;
			font-weight: 600;
			font-size: 2.19rem;

			@media screen and (max-width: $break-medium) {
				font-size: 1.2rem;
			}
		}

		.schedule-countdown {
			margin-top: 10px;
			margin-bottom: 30px;
			font-family: "Londrina Solid", sans-serif;

			.container-style {
				background-image: url($timer-bg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center top;
				padding: 4rem 6rem;

				.countdown-content {
					padding-top: 3.75rem;
					text-align: center;
				}

				@media screen and (max-width: $break-medium) {
					padding: 2rem 2rem;
					max-width: 370px;
					max-height: 270px;
					.countdown-content {
						padding-top: 1.5rem;
					}
				}
			}
		}
	}
}
