@use "../../../globals/vh-styles.scss" as *;

$timer-bg: "/assets/images/timer-background.svg";
$bubble: "/assets/images/bubble.svg";

.Schedule {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	overflow-x: hidden;

	#schedule-block {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;

		.schedule-title {
			font-family: "Londrina Solid", sans-serif;
			font-weight: 400;
			font-size: 6.25rem;
			letter-spacing: 0.5rem;
			text-shadow: 9px 16px 10px #68b3d7;
			margin-top: 170px;
			margin-bottom: 10px;

			@media screen and (max-width: $break-medium) {
				font-size: 4rem;
			}
		}

		.bubble-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			z-index: -1;

			.bubble {
				position: absolute;
				background: url($bubble);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				animation: float 6s ease-in-out infinite;

				@media screen and (max-width: $break-medium) {
					display: none;
				}

				&.small {
					width: 2.5vw;
					height: 2.5vw;
					max-width: 32px;
					max-height: 32px;
				}

				&.medium {
					width: 3vw;
					height: 3vw;
					max-width: 39px;
					max-height: 39px;
				}

				&.large {
					width: 5vw;
					height: 5vw;
					max-width: 56px;
					max-height: 56px;
				}

				&.left {
					left: 20px;

					&.small {
						top: 170px;
						animation-delay: 0s;
					}
					&.medium {
						left: 65px;
						top: 200px;
						animation-delay: 1s;
					}
					&.large {
						left: 25px;
						top: 250px;
						animation-delay: 2s;
					}
				}

				&.right {
					right: 20px;

					&.small {
						top: 170px;
						animation-delay: 0s;
					}
					&.medium {
						right: 65px;
						top: 200px;
						animation-delay: 1s;
					}
					&.large {
						right: 25px;
						top: 250px;
						animation-delay: 2s;
					}
				}
			}
		}

		@keyframes float {
			0%,
			100% {
				transform: translateY(0);
			}
			50% {
				transform: translateY(-10px);
			}
		}

		.schedule-hacking-ends-in {
			margin-bottom: 30px;
			font-family: "Instrument Sans", sans-serif;
			font-weight: 600;
			font-size: 2.19rem;

			@media screen and (max-width: $break-medium) {
				font-size: 1.2rem;
			}
		}

		.schedule-countdown {
			font-family: "Londrina Solid", sans-serif;

			.container-style {
				background-image: url($timer-bg);
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center top;
				padding: 4rem 6rem;

				.countdown-content {
					padding-top: 3.75rem;
					text-align: center;
				}

				@media screen and (max-width: $break-medium) {
					padding: 2rem 2rem;
					max-width: 370px;
					max-height: 270px;
					.countdown-content {
						padding-top: 1.5rem;
					}
				}
			}
		}
	}
}
