@import "globals/zothacks-styles.scss";

#organizer-photos{
  img{
    border-radius: 50%;
    width: 200px;
    height: 220px;
    padding: 20px;
  }

  p{
    color:white;
    // color: #f2becb;

  }

}
