@import "globals/zothacks-styles.scss";

#panelist-photos{
  padding: 10px 50px 175px;
  margin-left: 45px;

  @media screen and (max-width: $break-small) {
    padding: 0 0 15px 0;
  }
  .row {
    display: flex; 
    @media screen and (max-width: $break-small) {
      margin-bottom: 0px;
    }
  }

  .col {
    flex: 1; 
    padding: 1em;
    @media screen and (max-width: $break-small) {
      margin-bottom: 50px;
      margin-left: 10px;
    }
  }

  .panelist-img-wrapper {
    width: 200px;
    height: 200px;
    margin: 10px;

    @media screen and (max-width: 560px) {
      width: 120px;
      height: 120px;
    }
  }

  
  .panelist-img-wrapper img {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    object-fit: cover;
    border-radius: 50%;
    @media screen and (max-width: $break-medium) {
      margin-top: 10px;
    }
  }

  .text {
    position: relative;
    left: 5px;
    margin-bottom: 10px;
  }

  h4 {
    width: 200px;
    @media screen and (max-width: $break-medium) {
      width: 200px;
      font-size: 18px;
    }
  }

  p {
    width: 200px;

    @media screen and (max-width: $break-medium) {
      font-size: 15px;
    }
  }

}
