@import "globals/zothacks-styles.scss";

#panelist-photos{
  padding: 10px 50px 175px;
  margin-left: 45px;

  @media screen and (max-width: $break-small) {
    padding: 0 0 175px 0;
  }
  .row {
    display: flex; 
  }

  .col {
    flex: 1; 
    padding: 1em;
  }

  .panelist-img-wrapper {
    width: 200px;
    height: 200px;
    margin: 10px;

    @media screen and (max-width: 560px) {
      width: 120px;
      height: 134px;
      margin: 14px 20px;
    }
  }

  
  .panelist-img-wrapper img {
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    object-fit: cover;
    border-radius: 50%;
  }

  .text {
    position: relative;
    left: 5px;
  }

  h4 {
    width: 200px;
  }

  p {
    width: 200px;
    height: 350px;

    @media screen and (max-width: $break-medium) {
      font-size: 15px;
      margin-bottom: 0;
    }
  }

}
