@import "../../../globals/vh-styles.scss";

.speaker-photos {
	margin: 10px 60px 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-family: "Varela", sans-serif;

	@media screen and (max-width: $break-small) {
		margin: 10px 0px 40px;
	}

	.speaker-img-wrapper {
		padding: 1em;
		flex-basis: 25%;

		img {
			height: 200px;
			width: 200px;
			margin-bottom: 20px;
			object-fit: cover;
			border-radius: 50%;

			@media screen and (max-width: $break-small) {
				height: 150px;
				width: 150px;
			}
		}
	}

	@media screen and (max-width: $break-medium) {
		h4 {
			font-size: 18px;
		}

		p {
			font-size: 15px;
		}
	}
}
