@import "src/globals/vh-styles.scss";

.workshops {
	min-height: 100vh;
	background-image: url("../../../assets/images/stars-background.svg");
	background-attachment: fixed;
	background-size: 100% auto;
	display: flex;
	flex-direction: column;

	h2 {
		margin-top: 2em;
	}

	h5 {
		font-size: 1.1em;
	}

	#workshops_header {
		text-align: center;
		color: $darkerPurple;

		#title-img {
			width: 50%;
			margin-top: 50px;

			@media screen and (max-width: $break-small) {
				margin-top: 75px;
			}
		}
	}
}
