@import "globals/zothacks-styles.scss";

#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 125px;
    background-color: #35508c;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: $fontColor;
        margin: 0 15px;
    }

    a:hover {
        color: $lightPink;
    }
}