@import "globals/zothacks-styles.scss";

$astronaut: "./../../../assets/images/astronaut_solid.png";
$laptop: "./../../../assets/images/laptop.png";

.Home {
  text-align: center;
  min-height: 100vh;

  section {
    min-height: 100vh;

    .section-title {
      height: 60px;
      width: auto;
      margin: 20px auto;

      @media screen and (max-width: $break-medium) {
        height: 9vw;
        max-height: 40px;
      }
    }
  }

  .parallax-asset {
    // hide constellations & planets on smaller screens
    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }

  #hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;

    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }

    #astronaut-animation {
      padding-left: 50px;
      width: 40%;
      max-width: 600px;

      @media screen and (max-width: $break-medium) {
        padding-left: 0;
        width: 100%;
        max-width: 325px;
      }

      @keyframes floatAstronaut {
        0% { transform: translatey(0px); }
        50% { transform: translatey(-20px); }
        100% { transform: translatey(0px); }
      }
      @keyframes floatLaptop {
        0% { transform: translatey(0px); }
        50% { transform: translatey(20px); }
        100% { transform: translatey(0px); }
      }

      #astronaut {
        float: left;
        width: 18vw;
        height: 18vw;
        max-width: 290px;
        background: url($astronaut);
        background-size: contain;
        background-repeat: no-repeat;
        animation: floatAstronaut 4s ease-in-out infinite;
  
        @media screen and (max-width: $break-small) {
          width: 40vw;
          height: 40vw;
        }
      }
  
      #laptop {
        float: right;
        width: 25vw;
        height: 25vw;
        max-width: 360px;
        margin: -30% 0 0;
        background: url($laptop);
        background-size: contain;
        background-repeat: no-repeat;
        animation: floatLaptop 4s ease-in-out infinite;
  
        @media screen and (max-width: $break-small) {
          margin: -40% 0 0;
          width: 52vw;
          height: 52vw;
        }
      }
    } // END #astronaut-animation

    #hero-right {
     width: 48%;

      @media screen and (max-width: $break-medium) {
        width: initial;
      }
      @media screen and (max-width: $break-small) {
        margin-top: 20%;
      }

      #venushacks-title {
        width: 100%;
        max-width: 800px;
        margin-bottom: 15px;

        @media screen and (max-width: $break-small) {
          width: 100%;
        }
      }
  
      #date {
        @media screen and (max-width: $break-medium) {
          font-size: 20px;
        }
      }
  
      #tagline {
        font-size: 22px;
        @media screen and (max-width: $break-medium) {
          font-size: 18px;
        }
      }

      #apply-btn {
        border-color: #FFFFFF;
        padding: 12px 20px;
        font-size: 1.3vw;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #FFFFFF;
        @media screen and (max-width: $break-medium) {
          font-size: 16px;
        }
        a:hover
        {
          font-size:20px;
        }
        a:visited, a:link, a:active
        {
            text-decoration: none;
        }
      }
    } // END #hero-right

  } // END HERO

  #about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #about-text-container {
      width: 60vw;
      max-width: 1500px;

      @media screen and (max-width: $break-medium) {
        width: 80vw;
      }

      p {
        @media screen and (max-width: $break-medium) {
          font-size: 16px;
        }
        @media screen and (max-width: $break-small) {
          font-size: 14px; // This line can prob be removed
                           // when we take out the psa
        }
      }
  
      #asterisk-inclusive {
        color: $lightPink;

        @media screen and (max-width: $break-medium) {
          font-size: 20px;
        }
      }
    }
  } // END ABOUT

  #faq {
    display: flex;
    align-items: center;
    flex-direction: column;

    .section-title {
      height: 120px;
      margin: 20px auto 30px;

      @media screen and (max-width: $break-medium) {
        height: 18vw;
        max-height: 80px;
        margin: 20px auto;
      }
    }

    #faq-contact-us {
      font-size: 20px;
      margin: 30px 0 65px 0;

      @media screen and (max-width: $break-small) {
        font-size: 15px;
        margin: 10px 0 65px 0;
        width: 80%;
      }
    }
  } // END FAQ

  #sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

    #sponsors-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background: white;
      margin: 20px 60px 20px;
      padding: 15px 20px 15px;
      border-radius: 10px;
      color: #4767b1;

      @media screen and (max-width: $break-small) {
        margin: 10px 30px 10px;
        padding: 5px 20px 15px;
      }

      .logo-wrapper .logo {
        margin: 30px 30px 0;
        transition: all .2s ease;
        @media screen and (max-width: $break-medium) {
          margin: 15px 20px 0;
        }
      }

      .logo-wrapper .logo:hover {
        cursor: pointer;
        transform: scale(1.08);
        height: auto;
      }

      .logo-wrapper.large .logo {
        max-width: 355px;
        max-height: 125px;
        @media screen and (max-width: $break-small) {
          max-width: 60vw;
          max-height: 22vw;
        }
      }
      .logo-wrapper.medium .logo {
        max-width: 280px;
        max-height: 85px;
        margin-bottom: 50px;

        @media screen and (max-width: $break-small) {
          max-width: 45vw;
          max-height: 12vw;
        }
      }

      // specific sponsor logo styles
      .logo-wrapper .logo#informatics {
        background: #002143;
        padding: 15px 8px;
      }
      .logo-wrapper .logo#corelogic {
        max-height: 100px;
        @media screen and (max-width: $break-small) {
          max-height: 20vw;
        }
      }
      .logo-wrapper .logo#google {
        max-height: 70px;
        @media screen and (max-width: $break-small) {
          max-height: 10vw;
        }
      }

      #sponsors-more-to-come {
        margin-top: 40px;
        font-size: 30px;
        letter-spacing: 1px;

        @media screen and (max-width: $break-medium) {
          font-size: 22px;
          margin-top: 20px;
        }
        @media screen and (max-width: $break-small) {
          font-size: 18px;
        }

        .plus-icon {
          font-size: 45px;
          margin: 0 10px 0 0;
          vertical-align: sub;
          color: $lightPink;
          font-weight: bold;

          @media screen and (max-width: $break-medium) {
            font-size: 30px;
          }
          @media screen and (max-width: $break-small) {
            font-size: 25px;
          }
        }
      }
    }

    .sponsor-contact-us {
      max-width: 85%;
      font-size: 30px;    

      @media screen and (max-width: $break-medium) {
        font-size: 22px;
      }
      @media screen and (max-width: $break-small) {
        font-size: 16px;
      }
    }
  } // END SPONSORS

  #partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

    .section-title {
      height: 200px;
      @media screen and (max-width: $break-medium) {
        height: 25vw;
        max-height: 150px;
      }
    }

    #partners-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background: white;
      margin: 20px 60px 20px;
      padding: 15px 20px 15px;
      border-radius: 10px;
      color: #4767b1;

      @media screen and (max-width: $break-small) {
        margin: 10px 30px 10px;
        padding: 5px 20px 15px;
      }

      .logo-wrapper .logo {
        margin: 30px 30px 0;
        transition: all .2s ease;
        @media screen and (max-width: $break-medium) {
          margin: 15px 20px 0;
        }
      }

      .logo-wrapper .logo:hover {
        cursor: pointer;
        transform: scale(1.08);
        height: auto;
      }

      .logo-wrapper.large .logo {
        max-width: 355px;
        max-height: 125px;
        @media screen and (max-width: $break-small) {
          max-width: 60vw;
          max-height: 22vw;
        }
      }
      .logo-wrapper.medium .logo {
        max-width: 280px;
        max-height: 85px;
        margin-bottom: 50px;

        @media screen and (max-width: $break-small) {
          max-width: 45vw;
          max-height: 12vw;
        }
      }
    }
  } // END PARTNERS

  #speakers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;

    .section-title {
      height: 200px;
      @media screen and (max-width: $break-medium) {
        height: 25vw;
        max-height: 150px;
      }
    }
    
    .subheader {
      max-width: 85%;
      font-size: 50px;  

      @media screen and (max-width: $break-medium) {
        font-size: 22px;
      }
      @media screen and (max-width: $break-small) {
        font-size: 16px;
      }
    }
  }

  #meet-team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

    .section-title {
      height: 90px;
      @media screen and (max-width: $break-medium) {
        height: 12vw;
        max-height: 70px;
      }
    }
  }
}
