@import "globals/zothacks-styles.scss";

.Home {
  text-align: center;
  min-height: 100vh;

  h1 {
    font-weight: 600;
  }

  #background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  #mobile-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }


  #intro {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    color: white;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);

    // @media screen and (max-width: $break-medium) {
    //   background-color: $coloredLightBackground;
    // }

    .schedule-nav {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;

      a {
        margin-right: 0 !important;
        text-decoration: none;
        display: flex;
        align-items: center;

        h5 {
          margin-bottom: 0;
          margin-left: 30px;
        }
      }
    }

    .schedule-button {
      margin: 2em;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

    .title-info {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: $break-medium) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

        img {
          margin-right: 0 !important;
          margin-top: 20px;
          width: 150px !important;
          height: 150px !important;
        }

        h1 {
          font-size: 60px;
        }

        .title-info-description {
          width: 70vw;
        }
      }
  
      img {
        width: 250px;
        height: 250px;
        margin-right: 2em;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
          width: 100px;
        }
      }

      h1 {
        margin-bottom: .1em !important;
      }
    }

    
  }

  #info {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
      text-align: left;
      width: 60vw;

      @media screen and (max-width: $break-small) {
        width: 80vw;
        text-align: center;
      }

      h2 {
        text-align: center;
        // width: 80vw;
        
        @media screen and (max-width: $break-small) {
          font-size: 50px;
        }
      }
    }
  }

  #numbers {
    margin-top: 10vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $coloredLightBackground;
    color: white;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);

    & > h2 {
      margin-top: 10vh;
      width: 80vw;
    }

    .numbers-cards {
      margin-top: 5vh;
      margin-bottom: 10vh;
      width: 80vw;
      display: flex;
      align-items: center;
      justify-content: center;

      & > div {
        margin: 40px;
      }

      @media screen and (max-width: $break-medium) {
        flex-direction: column;
      }
    }
  }

  #faq {
    // min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    & > h2 {
      margin-top: 10vh;
      width: 80vw;
    }

    & > div {
      width: 80vw;
    }

    .faq-grid {
      margin-bottom: 10vh;
      display: grid !important;
      grid-template-columns: 10% 35% 10% 35% 10%;

      h3 {
        margin-top: 30px;
        font-size: 30px;
      }

      @media screen and (max-width: $break-medium) {
        grid-template-columns: 100%;
      }
    }
  }

  #credits {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $coloredLightBackground;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);

    p {
      margin: 0;
    }
  }
}