@import "../../../globals/vh-styles.scss";

.workshop-card {
	border-radius: 20px;
	padding: 20px;
	width: 85vw;
	margin: 20px auto;
	background-color: #42384473;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
	color: #f6d4d4;
	text-align: left;

	.workshop-card-header {
		display: flex;
		justify-content: space-between;

		.right {
			text-align: right;
		}

		h4 {
			color: white;
			margin-bottom: 0;
		}
	}

	.pink-buttons {
		a {
			display: inline-flex;
			font-size: 14px;
			border: 1px;
			border-style: solid;
			border-radius: 25px;
			border-color: #f6d4d4;
			width: fit-content;
			margin: 5px;
			padding: 8px;
			text-decoration: none;
		}

		p {
			display: inline-flex;
			font-size: 14px;
			font-weight: bold;
			border: 1px;
			border-style: solid;
			border-radius: 25px;
			border-color: #f6d4d4;
			width: fit-content;
			margin: 5px;
			padding: 8px;
		}
	}

	.workshop-card-prereqs {
		margin-top: 0.75em;

		h5 {
			color: white;
		}
	}
}
