@import "globals/zothacks-styles.scss";

.schedule-card {
  border-radius: 20px;
  z-index: 50;
  width: 85vw;
  background-color: #2e2e2e;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  color: $coloredLightBackground;
  display: grid;
  grid-template-columns: 49% 2% 49%;
  grid-auto-flow: row;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }

  .schedule-card-divider-vertical {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 800px) {
      display: none;
    }

    div {
      height: 80%;
      width: 4px;
      border-radius: 5px;
      background-color: $coloredLightBackground;
    }
  }

  .schedule-card-divider-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    @media screen and (max-width: 800px) {
      display: inherit;
    }

    div {
      height: 4px;
      width: 80%;
      border-radius: 5px;
      background-color: $coloredLightBackground;
    }
  }

  .schedule-card-section {

    h4 {
      margin-bottom: 40px;
    }

    .schedule-card-time-slot {
      width: 100%;
      // height: 60px;
      display: flex;
      justify-content: space-between;
      text-align: left;
      margin-bottom: 20px !important;

      div {
        height: 100%;
      }

      @media screen and (max-width: 450px) {
        h5 {
          font-size: 16px !important;
        }

        p {
          font-size: 12px;
        }
      }

      h5 {
        font-weight: 800;
        font-size: 21px;
        margin-bottom: 0;
      }

      p {
        font-weight: 500;
        color: white;
        margin-bottom: 0;
      }
    }

    & > div {
      margin: 30px;
    }
  }
}