@import "../../../globals/vh-styles.scss";

//style={{ 'text-decoration': 'none' }}

.schedule-card {
	border-radius: 20px;
	z-index: 50;
	width: 75vw;
	background-image: url("../../../assets/images/schedule/schedule-block-bg.png");
	background-size: cover;
	//box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
	color: $darkerPurple;
	grid-template-columns: 49% 2% 49%;
	grid-auto-flow: column;

	@media screen and (max-width: 800px) {
		display: flex;
		flex-direction: column;
		width: 85vw;
	}

	.schedule-card-divider-horizontal {
		display: flex;
		align-items: center;
		justify-content: center;

		@media screen and (max-width: 800px) {
			display: none;
		}

		div {
			height: 4px;
			width: 15%;
			border-radius: 5px;
			background-color: $darkerPurple;
			margin-bottom: 40px;
		}
	}

	.schedule-card-tooltip {
		position: relative;
	}

	.schedule-card-tooltip .schedule-card-tooltiptext {
		visibility: hidden;
		width: 400px;
		background-color: $peach;
		color: black;
		z-index: 1;
		top: 100%;
		text-align: center;
		border-radius: 6px;
		padding: 10px;
		position: absolute;
	}

	.schedule-card-tooltip .schedule-card-description {
		margin-top: 2px;
		font-size: 18px;
	}

	.schedule-card-tooltip .schedule-card-tooltiptext::after {
		content: "";
		position: absolute;
		bottom: 100%;
		left: 10%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent $peach transparent;
	}

	.schedule-card-tooltip:hover .schedule-card-tooltiptext {
		visibility: visible;
		opacity: 1;
	}

	.schedule-card-section {
		.schedule-card-time-slot {
			color: $darkerPurple;
			width: 100%;
			// height: 60px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: left;
			margin-bottom: 20px !important;

			div {
				height: 100%;
			}

			img {
				width: 100px;
				height: auto;
			}

			@media screen and (max-width: 450px) {
				h5 {
					font-size: 16px !important;
				}

				p {
					font-size: 12px;
				}
			}

			.time-slot-name {
				background: linear-gradient($darkerPurple, $darkPurple);
				-webkit-background-clip: text;
				color: transparent;
				background-clip: text;
				font-size: 24px;
				margin-bottom: 0;
			}
			
			.time {
				font-size: 14px;
				color: black;
				letter-spacing: .75px;
				padding-top: 2px;
			}

			p {
				color: $darkPurple;
				margin-bottom: 0;
			}
		}

		.schedule-card-location {
			a {
				text-decoration: none;
			}
		}

		& > div {
			margin: 30px;
		}
	}
}
