@use "src/globals/vh-styles.scss" as *;

.tab-radio-group {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 1.2rem;
	margin-bottom: 5rem;
	flex-wrap: nowrap;

	@media screen and (max-width: $break-medium) {
		gap: 10px;
		margin-bottom: 3rem;
	}

	@media screen and (max-width: $break-small) {
		flex-wrap: wrap;
	}
}

.radio-button {
	flex: 1 1 auto;
	width: 20%;
	height: 68px;
	font-family: "Londrina Solid";
	color: white;
	font-size: 2.2rem;
	letter-spacing: 0.25rem;
	border-radius: 20px;
	background-color: #8659a4;
	border: 0;
	box-shadow: 0px 3px 4px 0px #0000007c;
	transition: all 0.2s ease;

	&:hover,
	&:focus {
		background-color: #df89d0;
	}

	@media screen and (max-width: $break-medium) {
		width: 45%;
		max-width: none;
		height: 40px;
		font-size: 1rem;
		letter-spacing: 0.1rem;
	}
}

.radio-button.active {
	background-color: #deaed7;
}
