@import "../../../globals/vh-styles.scss";

.nav-container {
	position: sticky;
	z-index: 100;

	.nav-vh-logo-link {
		position: relative;
		z-index: 10;

		top: -15%;
		left: -2%;

		.nav-vh-logo {
			width: 110px;
			left: 0px;
		}
	}

	.nav-links-container {
		position: fixed;
		z-index: 8;

		top: max(15px, 4%);
		left: max(15px, 4%);
		right: max(100px, 6%);
		height: 60px;

		.bckgrd {
			position: absolute;
			display: flex;
			justify-content: space-between;
			align-items: center;

			top: 0;
			left: 25px;
			width: 100%;
			height: 100%;

			margin-top: 0.7rem;
			padding-left: min(75px, 18%);
			padding-right: min(50px, 10%);

			background-image: linear-gradient(to right, #b9a2c8, #c8a0bc, #a094ca);
			border-radius: 0px 35px 35px 0px;
			filter: drop-shadow(rgba(0, 0, 0, 0.15) 0.25rem 0.25rem 6px);

			.nav-link {
				display: block;
				align-items: center;

				color: #fff;
				font-size: min(120%, 24px);
				font-weight: 400;
			}
		}
	}

	@media (prefers-reduced-motion) {
		.nav-links-container {
			transition: none;
		}
	}

	@media (max-width: $break-medium) {
		.nav-vh-logo-link {
			position: absolute;
		}

		.nav-links-container {
			display: flex;
			justify-content: flex-start;
			flex-direction: column;
			align-items: center;
			cursor: pointer;

			width: min(250px, 80%);

			.bckgrd {
				display: inline;

				left: 55px;
				top: 5px;
				height: 245px;

				padding-left: max(60px, 10%);

				background-image: linear-gradient(#b9a2c8, #c8a0bc, #a094ca);
				border-radius: 0px 35px 35px 35px;

				.nav-link {
					padding-top: 10px;
					padding-left: 2%;
				}
			}

			.nav-menu-span {
				color: $darkPurple;
				font-size: 24px;
				font-weight: 400;
				line-height: 32px;
				margin-right: 0px;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;
			}
		}
	}
}
