@import "../../../globals/vh-styles.scss";

.starter-packs {
	min-height: 100vh;
	width: 100%;
	background: linear-gradient(#dfe0ff, #fcd6bd),
		url("../../../assets/images/stars-background.svg");
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #322660;
	padding: 2rem 2rem 0 2rem;

	h2 {
		margin-top: 10px;
		text-align: center;
		font-size: 3.5em;
	}

	.title-img {
		width: 65%;
	}

	.description {
		font-weight: bold;
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 2rem;
	}

	.tooltip_link .tooltip-content {
		z-index: 9999;
		position: absolute; /* or fixed, depending on your layout */
	}
	.tooltip-wrapper .tooltip-tip {
		width: 250px;
		background-color: #2b2150;
	}

	/* Ensure no parent element clips the tooltip */
	.starter-packs,
	.starter-pack-card,
	.starter-pack-card-information,
	.starter-pack-card-links {
		overflow: visible !important;
	}

	.starter-pack-card {
		margin: 1.5rem;
		width: 100%;
		height: auto;
		border-radius: 45px;
		color: #2b2150;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1.5rem;
		z-index: 10;

		@media screen and (max-width: $break-medium) {
			flex-direction: column;
		}

		@media screen and (max-width: $break-small) {
			padding: 1.5rem 0;
		}

		.starter-pack-card-information {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 90%;

			@media screen and (max-width: $break-medium) {
				align-items: center;
				width: 90%;
			}

			h3 {
				text-align: left;
				width: 100%;
				font-size: 2em;
				margin-bottom: 1rem;
			}

			p {
				text-align: left;
				width: 100%;
				font-size: 1.3em;
			}
		}

		.starter-pack-card-links {
			display: flex;
			flex-direction: column;
			width: 100%;
			margin: 1rem auto;

			@media screen and (max-width: $break-medium) {
				width: 90%;
			}

			.carousel-item {
				height: 450px;
			}

			.stack {
				height: 100%;
				justify-content: center;
				align-items: center;
				gap: 5rem;

				@media screen and (max-width: 1050px) {
					gap: 3rem;
				}
			}

			.card {
				width: 20rem;
				height: 25rem;
				border-radius: 30px;
				border: none;
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); /* Added shadow */
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				// overflow: hidden;
				background-image: linear-gradient(#ee99a0, #b1affb);
				overflow-wrap: break-word;

				.starter-pack-card-link {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: flex-start;
					width: 100%;
					height: 100%;
					padding: 1rem;
					text-align: center;
					color: white;
					text-decoration: none;

					h4 {
						font-size: 25px;
						margin: 1.5rem 0;
					}

					img {
						width: 100%;
						height: auto;
						max-height: 15rem;
						object-fit: contain;
						margin-top: 1rem;
						margin-bottom: 1.5rem;
					}
				}
			}
		}

		.carousel-control {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		.carousel-control-prev {
			left: -80px;
			max-width: 10%;
			width: 50px;

			@media screen and (max-width: $break-small) {
				left: -40px;
			}
		}

		.carousel-control-next {
			right: -80px;
			max-width: 10%;
			width: 50px;

			@media screen and (max-width: $break-small) {
				right: -40px;
			}
		}

		.carousel-indicators {
			bottom: -30px;
		}
	}
}
