@import "src/globals/vh-styles.scss";

#footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 100px;

	padding-left: 3%;
	padding-right: 3%;

	background-image: linear-gradient(#333b6d, #000);
	font-size: 2.2rem;

	.msg {
		font-size: min(2vw, 0.95rem);
		text-align: center;
	}

	#love {
		height: 15px;
	}

	#color-change {
		filter: brightness(0) invert(1);
	}

	.logos {
		font-size: min(1.875rem, 4vw);

		img {
			height: min(30px, 4vw);
		}
	}

	.divider {
		display: inline;
		border-left: 3px solid #505990;
		border-radius: 3px;
	}

	a {
		color: $fontColor;
		margin: 0 10px;
	}
}

@media (max-width: $break-medium) {
	#footer {
		padding-bottom: 1vw;
		display: grid;
		justify-content: center;

		.logos {
			order: 1;
		}

		.msg {
			order: 2;
		}
	}
}
