@use "../../../globals/vh-styles.scss";

.workshop-card {
	border-radius: 20px;
	width: 85vw;
	max-width: 67vw;
	margin: 20px auto;
	box-shadow: 0px 4px 4px 0px #00000040;
	color: #ffffff;
	display: flex;
	flex-direction: row;


	.workshop-card-left,
	.workshop-card-right {
		padding: 28px;
		margin-top: 10px;
		margin-bottom: 10px;
		flex: 1 1 0px;
	}

	.workshop-card-right {
		margin: 0;
		border-radius: 0 20px 20px 0;

		@media screen and (max-width: vh-styles.$break-medium) {
			border-radius: 0 0 20px 20px;
		}
	}

	.workshop-card-title {
		font-family: "Londrina Solid", sans-serif;
		font-size: 69.18px;
		letter-spacing: 8%;
		text-transform: uppercase;
		line-height: 100%;

		@media screen and (max-width: vh-styles.$break-medium) {
			font-size: 3.5rem;
		}

		@media screen and (max-width: vh-styles.$break-small) {
			font-size: 2.5rem;
		}
	}

	.workshop-card-description {
		font-size: 24px;
		font-family: "Instrument Sans", serif;
		line-height: 150%;

		@media screen and (max-width: vh-styles.$break-medium) {
			font-size: 1.5rem;
		}

		@media screen and (max-width: vh-styles.$break-small) {
			font-size: 1.25rem;
		}
	}

	#host {
		font-family: "Instrument Sans", serif;
		font-size: 30.74px;
		margin-top: 25px;
		letter-spacing: 0%;
		margin-bottom: 3px;
		font-weight: 700;

		@media screen and (max-width: vh-styles.$break-medium) {
			font-size: 2rem;
		}

		@media screen and (max-width: vh-styles.$break-small) {
			font-size: 1.5rem;
		}
	}

	a {
		text-decoration: none;
		background-color: #322660;
		display: block;
		margin-bottom: 6px;
		width: max-content;
		padding: 10px;
		border-radius: 20px;
		font-size: small;
		color: #ffffff;
	}

	#prerequisites-title {
		margin-bottom: 6px;
		font-size: medium;
	}

	@media screen and (max-width: vh-styles.$break-medium) {
		flex-direction: column;
		width: 80vw;
		max-width: 80vw;

		.workshop-card-left,
		.workshop-card-right {
			flex: none;
			width: 100%;
			padding: 15px;
		}

		#hosted-by,
		#host-name {
			font-size: medium;
		}

		a {
			padding: 8px;
			font-size: 0.85em;
		}

		#prerequisites-title {
			font-size: small;
		}
	}

	@media screen and (max-width: vh-styles.$break-small) {
		width: 90vw;
		max-width: 90vw;

		#hosted-by,
		#host-name {
			font-size: small;
		}

		a {
			padding: 6px;
			font-size: 0.75em;
		}

		#prerequisites-title {
			font-size: small;
		}
	}
}
