@use "src/globals/vh-styles.scss" as *;

#all-sponsors {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1500px;
	margin: auto;
}

.sponsor {
	display: inline;

	width: 46%;
	aspect-ratio: 2 / 1;

	margin: auto;
	margin-bottom: 4%;
	background-color: grey;
	border-radius: 20px;

	img {
		height: 100%;
		padding: 20px;
	}

	@media screen and (max-width: $break-medium) {
		width: 100%;
		max-width: 325px;
	}
}
