@use "src/globals/vh-styles.scss";

.primary-button {
	height: 68px;
	min-width: 14rem;
	font-family: "Londrina Solid";
	font-size: 2.2rem;
	letter-spacing: 0.25rem;

	border-radius: 20px;
	background-color: #e0b0d8;
	border: 0px;
	box-shadow: 0px 3px 4px 0px #0000007c;

	transition: all 0.2s ease;

	&:hover,
	&:focus {
		background-color: #df89d0;
	}

	&:active {
		background-color: #d46bc3 !important;
		transform: scale(0.96);
	}

	@media screen and (max-width: vh-styles.$break-large) {
		min-width: 12rem;
		height: 40px;
		font-size: 1.25rem;
	}
}

.disabled-primary-btn {
	@extend .primary-button;

	&:disabled {
		background-color: #b586ad;
		opacity: 100%;
	}
}
