@use "src/globals/vh-styles.scss";

$leftFishes: "/assets/images/left-fishes.svg";
$rightFishes: "/assets/images/right-fishes.svg";
$coral: "/assets/images/coral.svg";
$coral1: "/assets/images/coral1.svg";
$coral2: "/assets/images/coral2.svg";
$coral3: "/assets/images/coral3.svg";
$coral4: "/assets/images/coral4.svg";

body {
	overflow-x: hidden;
}

.hero-container {
	background: linear-gradient(179.68deg, #CBE9F1 1.23%, #3F9FCF 55.74%);
	min-height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	@media screen and (max-width: vh-styles.$break-small) {
		background-size: contain;
	}

	#coral {
		pointer-events: none;
		width: 105vw;
		height: 75vh;
		position: absolute;
		background-position: top;
		margin-top: 25vh;
		background: url($coral) no-repeat top/cover;
	}

	#coral1 {
		pointer-events: none;
		width: 100vw;
		height: 125vh;
		position: absolute;
		z-index: 5;
		background-position: top;
		margin-top: 75vh;
		transform: translateY(0);
		background: url($coral1) no-repeat top/cover;
	}

	#coral2 {
		pointer-events: none;
		width: 105vw;
		height: 75vh;
		position: absolute;
		z-index: 4;
		background-position: top;
		margin-top: 25vh;
		margin-left: 5vw;
		transform: translateY(0);
		background: url($coral2) no-repeat top/cover;
	}

	#coral3 {
		pointer-events: none;
		width: 105vw;
		height: 75vh;
		position: absolute;
		z-index: 3;
		background-position: top;
		margin-top: 25vh;
		margin-right: 5vw;
		transform: translateY(0);
		background: url($coral3) no-repeat top/cover;
	}

	#coral4 {
		pointer-events: none;
		width: 100vw;
		height: 50vh;
		position: absolute;
		z-index: 2;
		background-position: top;
		margin-top: 50vh;
		transform: translateY(0);
		background: url($coral4) no-repeat top/cover;
	}

	.button-row {
		display: flex;
		flex-direction: row;
		gap: 50px;
		margin-top: 30px;
	}
}
