@import "globals/vh-styles.scss";

.numbers-group {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: rgb(46, 46, 46);
  width: 20vw;
  height: 450px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  // box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
  border-radius: 20px;

  @media screen and (max-width: $break-medium) {
    width: 80vw;
  }

  div {
    margin-top: 3.5em !important;
    margin: 2em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  p {
    font-size: 18px;
  }

  i {
    font-size: 5em;
    margin-bottom: .5em;
  }
}