@use "src/globals/vh-styles.scss";

.workshops {
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 140px;

	.workshops-title {
		width: 100vw;
		text-align: center;
		font-family: "Londrina Solid", sans-serif;
		font-weight: 400;
		font-size: 6.25rem;
		color: white;
		text-shadow: 9px 16px 10px #7c94c0;
		letter-spacing: 0.56rem;
	}

	.workshops-subtitle {
		text-align: center;
		font-family: "Instrument Sans", serif;
		font-weight: 600;
		font-size: 2.25rem;
		color: white;
		text-shadow: 0px 6px 6px #69b3d7;

		@media screen and (max-width: vh-styles.$break-medium) {
			font-size: 2rem;
		}

		@media screen and (max-width: vh-styles.$break-small) {
			font-size: 1.5rem;
		}
	}
}
