@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Figtree", sans-serif;
}

@font-face {
	font-family: "Sniglet";
	src: url("/fonts/Sniglet-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Torus Pro";
	src: url("/fonts/Fontspring-DEMO-toruspro-bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}

:root {
	/* VenusHacks 2026 Site Colors */
	/* Color names derived from https://colors.artyclick.com/color-name-finder/ */
	--color-linen: #ffecec;
	--color-pale-rose: #f8c4c4;
	--color-indian-red: #cf6868;

	--color-ice-cold: #b2eee7;

	--color-white: #fff;
	--color-black: #000;
}

body {
	background-color: var(--color-ice-cold);
}

/* based on Bootstrap Reboot */
p {
	margin-top: 0;
	margin-bottom: 1rem;
}

hr {
	margin: 1rem 0;
	color: inherit;
	border: 0;
	border-top: 1px solid;
	opacity: 0.25;
}

html {
	scroll-behavior: smooth;
}
