@import "../../../globals/vh-styles.scss";

.nav {
	width: 100vw;
	height: 100px;
	display: flex;
	justify-content: flex-end;
	position: fixed;
	z-index: 100000;
	background-image: linear-gradient(#292053, rgba(18, 32, 66, 0));
	top: 0;
	transition: all 0.2s ease;

	.menu-button {
		display: none;
		left: 30px;
		top: 30px;
		position: absolute;
		background-color: #fff;
		border-color: #fff;
		color: rgb(153, 166, 229);
		border-radius: 10px;
		font-size: 1.5em;
	}

	a {
		text-decoration: none;
	}

	p {
		color: white;
		font-size: 20px;
		margin-right: 30px;
		margin-bottom: 0px;
		line-height: 38px;
		width: 100%;
	}

	p:hover {
		cursor: pointer;
	}

	.nav-container {
		margin-right: 30px;
		margin-top: 30px;
		display: flex;
		flex-direction: row;
		transition: all 0.2s ease;

		img {
			height: 40px;
			width: 40px;
		}
	}

	.nav-right {
		margin-right: 30px;
		margin-top: 30px;
		display: flex;
		flex-direction: row;
	}

	#mlh-trust-badge {
		display: block;
		max-width: 100px;
		min-width: 60px;
		position: fixed;
		right: 30px;
		top: 0;
		width: 10%;
		z-index: 10000;

		img {
			width: 100%;
		}
	}

	@media screen and (max-width: $break-small) {
		.menu-button {
			display: block;
		}

		.nav-container {
			display: none;

			margin-left: 0;
			width: 100%;
			flex-direction: column;
			align-items: center;
		}

		.show {
			display: flex;
		}
	}
}

.show-menu {
	display: flex;
	height: 100%;
	justify-content: center;
}
