@import "../../../globals/vh-styles.scss";

.nav-container {
	position: sticky;
	width: 100vw;
	background-color: #fff;
	z-index: 100;

	.nav-vh-logo-link {
		position: absolute;
		top: -40%;
		left: -2.5%;
		z-index: 10;

		.nav-vh-logo {
			width: 110px;
		}
	}

	.nav-links-container {
		position: fixed;
		top: 2.5vw;
		width: 80%;
		background-color: #edeeff;
		height: 60px;
		margin-left: 11%;
		padding-top: 14px;
		padding-left: 10%;
		padding-right: 4.5%;
		border-radius: 35px;
		z-index: 8;

		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.nav-link {
			margin-top: 4px;
			color: #5f4ea0;
			font-size: 18px;
			font-weight: 600;
		}

		.nav-link:hover {
			color: #a8acf9;
			transition: 0.3s all;
		}

		.nav-link-divider {
			border-left: 3px solid #a8acf9;
			border-radius: 3px;
			width: 0px;
			margin-bottom: 14px;
			margin-left: -2%;
			margin-right: -2%;
		}
	}

	.nav-scroll-progressor {
		position: absolute;
		width: 50px;
		top: 36px;
		left: 3%;
		transform: rotate(90deg);
		z-index: 9;
	}

	@media (prefers-reduced-motion) {
		.nav-links-container {
			transition: none;
		}
	}

	@media (max-width: $break-medium) {
		.nav-links-container {
			padding-left: 12.5% !important;
			padding-right: 6% !important;
			padding-bottom: 5%;
			justify-content: flex-start;
			flex-direction: column;
			align-items: flex-end;
			cursor: pointer;

			.nav-link {
				margin-top: 12px;
			}

			.nav-link-divider {
				margin-top: 3px;
				margin-bottom: 17px;
			}

			.nav-menu-span {
				color: $darkPurple;
				font-size: 24px;
				font-weight: 400;
				line-height: 32px;
				margin-right: 0px;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;
			}

			.menu-icon {
				font-size: 48px;
				font-weight: 100;
				line-height: 28px;
				margin-right: -4px;
			}
		}

		.nav-scroll-progressor {
			left: 0;
		}
	}
}
