@import "globals/zothacks-styles.scss";

.nav {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 100000;
  background-color: transparent;
  top: 0;
  left: 0;

  @media screen and (max-width: 440px) {
    .home-button-hide {
      display: none;
    }

    .resource-button-hide {
      display: none;
    }
  }

  a {
    text-decoration: none;
  }

  p {
    color: white;
    font-size: 20px;
    margin-right: 30px;
    margin-bottom: 0px;
    line-height: 38px;
  }

  i {
    margin-left: 10px;
  }

  p:hover {
    cursor: pointer;
  }

  .nav-left {
    margin-left: 30px;
    margin-top: 30px;

    img {
      height: 40px;
      width: 40px;
    }
  }
  
  .nav-right {
    margin-right: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
  }

  .nav-resource-dropdown {
    width: 15em;
    height: 212px;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translate(-110px, 20px);

    .nav-resource-hover-buffer {
      width: 15em;      
      height: 40px;
      // background: transparent;
      transform: translateY(-20px);
      position: absolute;
    }
    
    .nav-resource-dropdown-tag {
      background-color: white;
      width: 20px;
      height: 20px;
      transform: rotate(45deg) translate(140px, -148px);
      border-radius: 3px;
      position: absolute;
      z-index: -1
    }

    .nav-resource-dropdown-item {
      width: calc(100% - 10px);
      height: 60px;
      margin-right: 0;
      margin: 5px;
      text-align: left;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-radius: 10px;
      
      p {
        margin-left: 16px;
        color: #2e2e2e;
      }
    }

    .nav-resource-dropdown-item:hover {
      background-color: #e7e7e7;
      
      p {
        color: #2e2e2e;
      }
    }

    .nav-resource-border {
      width: 100%;
      background-color: lightgray;
      height: 1px;
    }
  }
}