@import "globals/zothacks-styles.scss";

.Schedule {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $coloredLightBackground;

  h1 {
    font-weight: 600;
  }

  .stripes {
    width: 100vw;
    height: 80vh;
    transform-origin: 0;
    background-image: url('./../../../assets/images/clouds-background.jpg');
    background-size: cover;
    position: absolute;
  
    .div {
      position: absolute;
    }
  }

  .inner0 {
    background-image: linear-gradient(to left, $leftGradient, $rightOffGradient);
    grid-area: 5 / 5 / 5 / 6;
  }
  
  .inner1 {
    background-image: linear-gradient(to right, $rightOffGradient, $leftGradient);  
    grid-area: 1 / 1 / 1 / 4;
  }
  
  .inner2 {
    background-image: linear-gradient(to left, $leftGradient, $rightOffGradient);  
    grid-area: 2 / 3 / 2 / 6;
  }
  
  .inner3 {
    background-image: linear-gradient(to right, $leftGradient, $rightOffGradient);  
    grid-area: 5 / 1 / 5 / 3;
  }

  #intro {
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    color: white;

    .schedule-nav {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;

      a {
        margin-right: 0 !important;
        text-decoration: none;
        display: flex;
        align-items: center;

        h5 {
          margin-bottom: 0;
        }
      }
    }

    .schedule-button {
      margin: 2em;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

    .title-info {
      display: flex;
      flex-direction: row;
      width: 60vw;

      @media screen and (max-width: $break-medium) {
        flex-direction: column;
        align-items: center;
        text-align: center;

        button {
          align-self: center;
        }
        
        img {
          margin-right: 0 !important;
        }

        h1 {
          font-size: 60px;
        }
      }
  
      img {
        width: 250px;
        height: 250px;
        margin-right: 2em;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
          width: 100px;
        }
      }

      h1 {
        margin-bottom: .1em !important;
      }
    }
  }

  #schedule-nav {
    width: 100vh;
    position: relative;
  }

  #schedule-block {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    .schedule-countdown {
      margin-top: 70px;
      height: 25vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      text-align: left;
      flex-direction: column;

      .hat-left {
        width: 40px;
        height: 40px;
      }
        
      .schedule-countdown-border {
        width: 160px;
        height: 4px;
        border-radius: 2px;
        background-color: white;
      }

      & > div {
        width: 50vw;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        text-align: center;

        @media screen and (max-width: 800px) {
          width: 80vw;

          h3 {
            font-size: 25px;
          }
        }
        
        div {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  #credits {
    background-color: white;
    height: 15vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }
  }
}