@import "src/globals/vh-styles.scss";

$boba: "/assets/images/vh-boba.png";
$astronaut: "/assets/images/vh-astronaut.png";
$laptop: "/assets/images/vh-laptop.png";
$shiba: "/assets/images/VH_shiba_inu.png";
$planet: "/assets/images/planet-3.svg";
$stars_background: "/assets/images/stars.svg";

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

.Home {
	background-image: url($stars_background);
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	min-height: 100vh;

	@media screen and (max-width: $break-small) {
		background-size: contain;
	}

	section {
		.section-title {
			max-width: 100vw;
			height: 60px;
			width: auto;
			margin: 20px auto;

			@media screen and (max-width: $break-medium) {
				height: 9vw;
				max-height: 40px;
			}
		}
	}

	// TODO: Remove once padding is removed
	section#padding:last-of-type {
		min-height: 15vh;
	}


	#about {
		background: linear-gradient(180deg, #3F9FCF 0%, #E7B6D9 100%);
	}
}
