@use "src/globals/vh-styles.scss";

$leftFishes: "/assets/images/left-fishes.svg";
$rightFishes: "/assets/images/right-fishes.svg";

body {
	// overflow-x: hidden;
}

.hero-container {
	overflow-y: hidden;
	width: 100%;
	position: relative;
	margin-bottom: -30vh;

	@media screen and (max-width: vh-styles.$break-small) {
		background-size: contain;
	}

	.content-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		position: relative;
		z-index: 10;
	}

	.coral {
		position: absolute;
		width: 100vw;
		pointer-events: none;
	}

	.coral.static {
		position: absolute;
		width: 100vw;
		z-index: 5;
		pointer-events: none;
		margin-top: -10vh;
	}

	#coral0 {
		margin-top: 55vh;
	}

	#coral1 {
		margin-top: 6vh;
	}

	#coral2 {
		margin-top: 12vh;
	}

	#coral3 {
		margin-top: -12vh;
	}

	#coral4 {
		margin-top: 6vh;
	}

	
	.button-row {
		display: flex;
		flex-direction: row;
		gap: 50px;
		margin-top: 30px;

		@media screen and (max-width: vh-styles.$break-medium) {
			gap: 30px;
		}

		@media screen and (max-width: vh-styles.$break-small) {
			flex-direction: column;
			gap: 20px;
		}
	}

	// @media screen and (max-width: vh-styles.$break-xlarge) {
	// 	margin-bottom: -45vh;

	// 	#coral0 {
	// 		margin-top: 60vh;
	// 	}

	// 	#coral1,
	// 	#coral3 {
	// 		margin-top: 25vh;
	// 	}

	// 	#coral2 {
	// 		margin-top: 27vh;
	// 	}

	// 	.coral.static {
	// 		margin-top: -5vh;
	// 	}
	// }

	// @media screen and (max-width: vh-styles.$break-large) {
	// 	margin-bottom: -65vh;

	// 	#coral0 {
	// 		margin-top: 62vh;
	// 	}

	// 	#coral1,
	// 	#coral2,
	// 	#coral3 {
	// 		margin-top: 38vh;
	// 	}

	// 	.coral.static {
	// 		margin-top: 13vh;
	// 	}
	// }

	// @media screen and (max-width: vh-styles.$break-medium) {
	// 	// overflow-x: hidden;
	// 	margin-bottom: -75vh;

	// 	#coral0 {
	// 		margin-top: 70vh;
	// 	}

	// 	#coral1,
	// 	#coral3 {
	// 		margin-top: 50vh;
	// 	}

	// 	#coral2 {
	// 		margin-top: 52vh;
	// 	}

	// 	.coral.static {
	// 		margin-top: 35vh;
	// 	}
	// }

	// @media screen and (max-width: vh-styles.$break-small) {
	// 	// overflow-x: hidden;
	// 	margin-bottom: -90vh;

	// 	.content-container {
	// 		height: 100vh;
	// 		padding-top: 10vh;
	// 	}

	// 	#coral0 {
	// 		margin-top: 75vh;
	// 	}
	// 	#coral1,
	// 	#coral2,
	// 	#coral3 {
	// 		margin-top: 65vh;
	// 	}

	// 	.coral.static {
	// 		margin-top: 55vh;
	// 	}
	// }
}
