@import "globals/zothacks-styles.scss";

.App {
  text-align: center;
  min-height: 100vh;
  background-color: $lightBackground;
  color: $fontColor;
  font-family: $hackUCIFont;
  overflow-y: auto;

  h3 {
    font-size: 40px;
  }
}