@import "globals/vh-styles.scss";

.App {
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  background-color: $lightBackground;
  color: $fontColor;
  font-family: $vhFont;
  overflow-y: auto;
  background-image: $gradientBackground;
  background-attachment: fixed;

  button {
    border-radius: 50px;
  }

  p {
    font-size: 20px;
  }

  h4 {
    font-size: 30px;
    margin-bottom: .5em;
  }

  h3 {
    font-size: 40px;
    margin-bottom: .5em;
  }

  h2 {
    font-size: 60px;
    margin-bottom: .5em;
  }

  h1 {
    font-size: 80px;
    margin-bottom: .3em;
  }

  button {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  a {
    color: $pink;
    font-weight: 500;
    text-decoration: underline;
    transition: 0.3s;
  }

  a:hover {
    color: $purple;
  }
}
