.not-found {
	background-image: url("/assets/images/stars-background.svg");
	background-attachment: fixed;
	background-size: 100% auto;
	display: flex;
	justify-content: center;
	text-align: center;
	min-height: 100vh;

	.not-found-message {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;

		h1 {
			margin-bottom: 0.5rem;
		}
	}
}
