@import "src/globals/vh-styles.scss";

:root {
	--med-width: 750px;
	--small-width: 450px;
}

#partners-carousel {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	aspect-ratio: 3/1;

	@media screen and (max-width: --med-width) {
		aspect-ratio: 2/1;
	}
	@media screen and (max-width: --small-width) {
		aspect-ratio: 3/2;
	}
}

#partners-view {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.arrow {
	background: none;
	color: inherit;
	border: none;
	transform: scale(1, 2);
	font-size: 25px;
	font-weight: 1000;
}

.bubble {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 20%;
	aspect-ratio: 1 / 1;

	border-radius: 50%;
	opacity: 0;
	font-size: 0vw;
	transition: all 2s ease;

	@media screen and (max-width: --med-width) {
		visibility: hidden;
		transition: 0s;
	}
}

#nxt {
	margin-left: 50%;
	opacity: 0.5;
}

#prv {
	margin-right: 50%;
	opacity: 0.5;
}

.desc {
	position: absolute;
	display: flex;
	align-items: center;
	z-index: 1;

	width: 55%;
	aspect-ratio: 1/1;

	border-radius: 50%;
	opacity: 0;

	@media screen and (max-width: --med-width) {
		width: 65%;
		font-size: 2.5vw;
	}
	@media screen and (max-width: --small-width) {
		font-size: 3.5vw;
	}
}

.pop {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;

	width: 90%;
	aspect-ratio: 1/1;

	border-radius: 50%;
	background-image: radial-gradient(#c6ecf4 30%, #80d9ec 80%);
}

#cur {
	display: flex;
	width: 35%;
	aspect-ratio: 1/1;

	opacity: 1;
	font-size: 1.65vw;

	.pop {
		width: 80%;
		height: 80%;
	}

	@media screen and (max-width: --med-width) {
		visibility: visible;
		position: absolute;
		width: 55%;
	}
	@media screen and (max-width: --small-width) {
		width: 75%;
	}
}

#cur:hover {
	.pop {
		animation-name: bubble-pop;
		animation-duration: 0.3s;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
	.desc {
		opacity: 1;
	}
}

@keyframes bubble-pop {
	from {
		width: 80%;
		aspect-ratio: 1/1;
	}

	to {
		width: 90%;
		aspect-ratio: 1/1;

		opacity: 0;
		border: 20px solid #80d9ec;
	}
}
