name: Deploy Production

on:
  workflow_run:
    workflows:
      - Run Checks
    types:
      - completed
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  Site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: amondnet/vercel-action@v25
        with:
          vercel-version: 32.6.1
          github-comment: false
          vercel-args: "--prod"
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
          vercel-org-id: ${{ vars.VERCEL_ORG_ID}}
          vercel-project-id: ${{ vars.VERCEL_PROJECT_ID_SITE}}
